*{
    margin: 0px;
    font-family: century gothic;
    overflow-x: hidden;
}
nav{
    background-color: rgb(0, 0, 90);
    color: white;
    display: block;
    padding-top: 2%;
    padding-bottom: 2%;
    h2{
        margin-left: 3%;
    }
}
.contenedor{
     background-color: rgb(240, 240, 240);
     color: rgb(0, 0, 90);
}
.presentacion{

    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 18%;
    display: inline-block;
    width: 100%;
    .texto{
        display: inline-block;
        width: 40%;
        vertical-align: middle;
        h1{
            font-size: 40px;
        }
        p{
            margin-top: 3%;
        }
    }
    .ima{
        display: inline-block;
        width: 30%;
        vertical-align: middle;
        img{
        width: 100%;
        }
    }
}
.tarjetas{
    background-color: white;
    padding: 1%;
    border-radius: 5px;
    margin-left: 2%;
    margin-bottom: 2%;
    display: inline-block;
    width: 20%;
    text-align: justify;
    h2{
        margin-bottom: 5%;
    }    
    p{
        margin-bottom: 5%;
    }
    button{
        width: 100%;
        padding: 5%;
        font-weight: bold;
        background-color: blue;
        color: white;
        border-style: none;
        border-radius: 5px;
    }
}  
.tarjetas:hover{
    color: white;
    background-color: rgb(0, 0, 90);
    button{
        background-color: cornflowerblue;
    }
 button:hover{
    background-color: orange;
 }   
}
@media(max-width: 600px){

    .presentacion{
        display: block;
        width: 100%;
        .texto{
            display: inline-block;
            width: 70%;
            margin: 0px;
            text-align: justify;
            left: -1000px;
            h1{
                font-size: 30px;
            }
        }
        .ima{
            display: none;
            width: 30%;
        }
    }
    .tarjetas{
        
        display: inline-block;
        width: 90%;
        margin-left: 4%;
    }

}